extends layout
block css
    link(rel='stylesheet', href='/stylesheets/style.css')
block content
    .wrapper
        .container
            h1 Welcome
            form.form(action='/add', method='post')
                input(type='text',name='blockData', placeholder='Data')

                button#logisn-button(type='submit') Add

        ul.bg-bubbles
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li

